* {
  font-family: 'Trajan Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: transparent;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: small;
  box-sizing: border-box;

}

a {
  color: white;
  text-decoration: none;
}

.all-filter {
  /*border: 2px solid rgb(247, 241, 246);*/
  display: flex;
  padding-left: 5px;
  justify-content: space-evenly;
  margin-right: 10px;
  padding: 10px;
  width: 100%;
}

.clean {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.clean:hover {
  background-color: rgb(53, 50, 50);
}

.logo {
  position: fixed;
  top: 5%;
  left: 3%;
  width: 300px;
  height: 81px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: 1;
  justify-content: center;
  /*border: 15px solid yellow;*/
}
.off-out audio {
  width: 12%;
  height: 20px;
  color: white;
  background-color:transparent;
  margin-left: 1100px;
  margin-top:60px;
}
main {
  /*border: 15px solid green;*/
  display: flex;
  flex-wrap: none;
  margin-top: 80px;
}

#principal {
  /*border: 15px solid red;*/
  width: 75%;
  margin-top: 60px;
  margin-left: 30px;
}

.menu {
  /*border: 15px solid orange;*/
  font-size: 10px;
  margin-left: 50px;
  width: 250px;
  margin-top: 50px;
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 25px;
}

.menu a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}

.filter {
  border: whitesmoke;
  justify-content: flex-end;
}

.audioGot {
  display: flexbox;
}

.insertName {
  display: flex;
  color: whitesmoke;
 
}

.insertNameInput {
  color: whitesmoke;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  justify-content: flex-starts;
  margin-bottom: 30px; 
}

.filter-container {
  /*posiciona os filtros*/
  display: flex;
  color: whitesmoke;
  margin-right: 10px;
  padding: auto;

}

.filter-familyContainer {
  display: flex;
  color: whitesmoke;
  margin-right: 10px;
  padding: auto;


}

.filter-label {
  display: flex;
  font-size: 14px;
  background-color: transparent;
  margin-right: 10px;
  padding: auto;

}

.filter-familyLabel {
  display: flex;
  font-style: 14px;
  background-color: transparent;
  margin-right: 10px;
  padding: auto;
}

#filter {
  cursor: pointer;
  border-radius: 3px;
  color: whitesmoke;

}

#filterFamily {
  cursor: pointer;
  border-radius: 3px;
  color: whitesmoke;

}

#filter option {
  background-color: transparent;
  color: rgb(61, 60, 60);
  text-align: center;
}

#filterFamily option {
  background-color: transparent;
  color: rgb(61, 60, 60);
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  /*border: 15px solid white;*/
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card h2 {
  font-size: 16px;
  margin: 5px;
}

.card p {
  font-size: 12px;
  margin: 5px;
}

.card {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
}

.menu-casas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
}

.menu-casas h1 {
  flex-basis: 100%;
  margin: 3vh;
  text-align: center;
  font-size: 19px;

}

.menu-casas img {
  width: 30vh;
  flex: 0 0 auto;
  justify-content: center;
}

.menu-casas p {
  flex: 1 0 50%;
  padding: 0 0 0 20px;


}

 img.strong {
  padding: 0 0 150px;

}

 p.strong {
  padding: 0 0 150px 20px ;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  font-size: 12px;
  color: rgb(37, 36, 36);
}

.background-dragon {
  position: fixed;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.flippable {
  perspective: 1000px;
}

.card .card-inner {
  width: 100%;
  height: 100%;
  transform-style: flat;
  transition: transform 0.5s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: transparent
}

.card.flipped .front {
  display: none;
  color: white;
}

.card.flipped .back {
  background-color: rgb(26, 22, 22);
  color: white;
  border-radius: 10px;
  transform: scaleX(-1);
  /*para manter o texto depois de virar*/
}

.card.flipped .back .character-info {
  display: block;
}

.card .back .character-info {
  display: none;
}

.character-info {
  text-align: center;
  padding: 10px;
}

@font-face {
  font-family: 'Trajan Pro; ' Trebuchet MS',  ' Lucida Sans Unicode',     ' Lucida Grande',       ' Lucida Sans',
 Arial, sans-serif;
  src: url(font-trajan/TrajanPro-Bold.otf) format(opentype);
  src: url(font-trajan/TrajanPro-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@media (max-width:500px) {
  main {
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;

  }

  .menu ul { 
    display: flex;
    flex-wrap: wrap;
    list-style: inside;
    padding: 5px 5px 5px 5px;
    margin: 0;
    display: flex;
  }

  .menu ul li {
    margin-right: 10px;
    display: inline-block;
  }

  .menu a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
  }
  .insertNameInput {
    width: 320px;
  }
  .all-filter {
    flex-direction: column;
    border: 2px solid rgb(247, 241, 246);
    margin-inline: 5px;
    border-radius: 10px;
    gap: 10px;
  }

  .filter-familyLabel {
    font-size: 12px;
  }

  .filter-label {
    font-size: 12px;
  }

  .filter-container {
    font-size: 12px;
  }

  .menu-casas img {
    margin: 0 0 10% 20%;
  }

}