* {
  font-family: 'Trajan Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: transparent;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: small;
  box-sizing: border-box;
  flex-wrap: wrap-reverse;
  
}

.logo {
  position: fixed;
  top: 5%; 
  left: 3%;
  width: 300px;
  height: 81px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: 1;
  justify-content: center
}

.menu{
  position: relative;
  top: 200px;
  transform: translateY(-50%);
  margin-left: 20%;
  font-size: 10px;
  margin-top: 80px;
  margin-left:50px;
  justify-content: space-evenly;
  
}

.menu-container {
  position: fixed;
  margin-left: 20%;
  font-size: 10px;
  margin-left:200px;
  justify-content: space-evenly;
  
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 25px;
}

.menu a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}

.filter{ 
  border: white;
  justify-content: flex-end;
}

.audioGot {
 display: flexbox;
}

.insertName  {
  display: flex;
  position: absolute;
  color: whitesmoke;
  top: 230px
}

.insertNameInput {
  color: whitesmoke;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  justify-content: flex-starts;
}

.filter-container {
  display: flex;
  position: absolute;
  color: whitesmoke;
  margin-left: 28%;
  top: 130px;
}

.filter-familyContainer {
  display: flex;
  position: absolute;
  color: whitesmoke;
  margin-left: 60%;
  top: 130px;
}

.filter-label {
  display: flex;
  font-size: 14px;
  background-color: transparent;
  margin-right: 20px;
}

.filter-familyLabel {
  display: flex;
  font-style: 14px;
  background-color: transparent;
  margin-right: 20px;
}

#filter {
  cursor: pointer;
  border-radius: 3px;
  color: whitesmoke;
  margin-bottom: 100px;
}

#filterFamily  {
  cursor: pointer;
  border-radius: 3px;
  color: whitesmoke;
  margin-bottom: 20px;
}

#filter option {
  background-color: transparent;
  color: rgb(61, 60, 60);
  text-align: center;
}

#filterFamily option {
  background-color: transparent;
  color: rgb(61, 60, 60);
  text-align: center;
}

.reset-pesquisa {
  border-radius: 3px;
  color: whitesmoke;
  margin-bottom: 20px;
  justify-content: flex-end;
  position:fixed;
}

button {
  background-color: transparent;
  border-radius: 10px;
  border: white;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  left: 5px;
  justify-content: flex-end;
}

.card {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 85%;
  border: 1px solid #ddd;
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  top: -100px;
  margin-bottom: 5px;
} 

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card h2 {
  font-size: 16px;
  margin: 5px;
} 

.card p {
  font-size: 12px;
  margin: 5px;
}

.cards-container { 
  margin-top: 0px;
  margin-left:370px;
  margin-right: 60px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  position: relative;
}

footer {
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  color: rgb(48, 44, 44);
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Trajan', sans-serif;
}

.background-dragon {
  position: fixed;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.flippable {
  perspective: 1000px;
}

.card .card-inner {
  width: 100%;
  height: 100%;
  transform-style: flat;
  transition: transform 0.5s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card .front, .card .back {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: transparent
}

.card.flipped .front {
  display: none;
}

.card.flipped .back {
  background-color: rgb(26, 22, 22);
  color: white;
  border-radius: 10px;
  transform: scaleX(-1); /*para manter o texto depois de virar*/
}

.card.flipped .back .character-info {
  display: block; 
}

.card .back .character-info {
  display: none; 
}

.character-info {
  text-align: center;
  padding: 10px;
}

@font-face {
  font-family: 'Trajan Pro; ' Trebuchet MS',  ' Lucida Sans Unicode',     ' Lucida Grande',       ' Lucida Sans',
Arial, sans-serif;
  src: url(font-trajan/TrajanPro-Bold.otf) format(opentype);
  src: url(font-trajan/TrajanPro-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
